__Setup :__ installing necessary packages and configuring notebook format

In [1]:
# packages
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
import re 
import json
import git


# configs
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

In [2]:
# from sklearn.feature_extraction.text import CountVectorizer
# from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import nltk
# nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tombardrick/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Analysing how fundamental / technical features influence price changes

__Aim__

To gain a greater understanding if 'pre-race' factors (predominantly fundamental) seem to have an impact on price changes (BSP to inplay). Is it possible to identify __those runners that outrun their odds.__

__Sections__
- Create 'natural' & 'engineered' features (bins & one-hot)
- Create target (exclude winners -> convert to probabilities -> bsp - ip_min) 
- Measure the differences in price changes per variable (using ANOVA?)
- Identify those with the 'biggest influence'

### 1. Reading in data
Connecting to MySQL database where Smartform tables are stored and converting query into pandas dataframe.

In [3]:
# loading in sql login credentials
repo = git.Repo('.', search_parent_directories=True) # finds root dir of git repo
logins_dir = str(repo.working_tree_dir) + "/sql_logins.json" 

with open(logins_dir) as f:
    login_dict =  json.load(f)

In [4]:
db_connection_str = f"mysql+pymysql://{login_dict['UID']}:{login_dict['PWD']}@localhost/{login_dict['DB']}"
db_connection = create_engine(db_connection_str)

data = pd.read_sql('''
                 SELECT
                  course,
                  race_type,
                  going,
                  handicap,
                  maiden,
                  num_runners,
                  distance_yards,
                  runner_id,
                  distance_travelled,
                  form_figures,
                  gender,
                  age,
                  in_race_comment,
                  trainer_name,
                  jockey_name,
                  owner_name,
                  position_in_betting,
                  days_since_ran,
                  weight_pounds,
                  finish_position,
                  amended_position,
                  tack_hood,
                  tack_visor,
                  tack_blinkers,
                  tack_eye_shield,
                  tack_eye_cover,
                  tack_cheek_piece,
                  tack_tongue_strap,
                  bsp,
                  inplay_min,
                  win,
                  early_traded,
                  inplay_traded,
                  total_traded
                 FROM
                  historic_races
                  JOIN historic_runners USING (race_id)
                  JOIN historic_betfair_win_prices ON race_id = sf_race_id
                  AND runner_id = sf_runner_id
                WHERE
                  (
                    CAST(historic_races.meeting_date AS Datetime) BETWEEN '2016-10-01'
                    AND '2020-01-01'
                  )
                ORDER BY
                  race_id,
                  runner_id
                ''',
                con=db_connection)
# db_connection.close()

In [5]:
df = data.copy() # temp : to save having to run query (remove to save memory)
print("Runners :", len(df.index))

Runners : 394638

### 2. Pre-Processing

#### 2.1 Remove winners 
Creating sample not affected by winners (causing fat right tail in price decreases). Small but acceptable fraction of sample removed. (Winners could be analysed seperately).

In [6]:
prev_rows = len(df.index)
df = df[df['win'] == 0]
print('Rows Removed: ', prev_rows - len(df.index), '\nRows Remaining : ', len(df.index))

Rows Removed:  41598
Rows Remaining :  353040

#### 2.2 Correct finish position 
Finding 'true' finishing positions due to error caused by stewards enquiries etc

In [7]:
df['final_position'] = np.where(df['amended_position'].notnull(), df['amended_position'], df['finish_position'])
df.drop(['finish_position', 'amended_position', 'win'], axis = 1, inplace = True)

### 3 Further processing

#### 4.1 Creating dependent variables

target_1 = if horse inplay price is lower than bsp : 1, else 0

In [8]:
df['target_1'] = np.where(df['bsp'] > df['inplay_min'], 1, 0)

target_2 = if horse inplay price is low enought for a proitable lay hedge : 1, 0

In [9]:
def lay_hedge_max_lp(bp, c):
    '''
    Given some back price and commission, this returns the maximum lay price for a profitable hedge bet. The lower the lay price, the more profitable the bet.
    '''
    return round((bp - 1) * (1 - c) ** 2 + 1, 2)

df['lay_hedge_max'] = df['bsp'].apply(lambda x: lay_hedge_max_lp(x, 0.05))

df['target_2'] = np.where(df['inplay_min'] < df['lay_hedge_max'], 1, 0)
df.drop('lay_hedge_max', axis = 1, inplace = True)

#### 3.1 Headgear Transformation
All headgear types are different variables within the database (1/0 if worn or not). Adding all of these variables together as the type of headgear doesn't matter too much. Just if they wore headgear for the first time for example as this 'typically' brings about improvement and is often worn by 'front runners' who we know often experience a price decrease inplay.

In [10]:
headgear_cols = ['tack_hood', 'tack_blinkers', 'tack_eye_shield', 'tack_eye_cover', 'tack_cheek_piece',
                 'tack_tongue_strap', 'tack_visor']
df[headgear_cols] = df[headgear_cols].replace(np.nan, 0)
df['headgear'] = df[headgear_cols].sum(axis=1)
df.drop(headgear_cols, inplace = True, axis = 1)

#### 3.2 Dropping missing values

In [11]:
prev_rows = len(df.index)
df.dropna(inplace=True)
print('Rows Removed: ', prev_rows - len(df.index), '\nRows Remaining : ', len(df.index))

Rows Removed:  57800
Rows Remaining :  295240

In [12]:
# come back to improve this with some assumptions / conditions?

#### 3.3 Form transformation

Capturing how form may influence price movements. Attempt to capture effects like 'fitness', 'momentum' & __'consistency'__.

- Pre-process form (0's & letters to 9's). Currently leaving out '-' & '/' but these count as a run.
- Taking previous run as a single feature
- Taking length of form as a feature
- Summing all form as a aggregate 
- Average form as form_sum / form_len
- Comparing averages to give some indication of improvement / decline of performance

In [13]:
df['form_figures'] = df['form_figures'].str.replace(r'[A-Z0]', '9') # convering letters/zeros to '9'

In [14]:
df['form_last'] = df['form_figures'].str[-1] # pos in last race
df['form_len'] = df['form_figures'].str.len().astype(int) # length of form figures

df['form_rec'] = df['form_figures'].str[-3:] # pos in last 3 races - 'recent form'
df['form_rec_len'] = df['form_rec'].str.len().astype(int) # length of recent

In [15]:
# aggregate on all available form
df['form_int_list'] = df['form_figures'].apply(lambda x: re.findall(r'\d+', x)) # list of non-sep ints 
df['form_ints_list'] = df['form_int_list'].apply(lambda x: [sum(int(c) for c in str(num)) for num in x]) # sep ints
df['form_sum_all'] = df['form_ints_list'].apply(lambda x: sum(x)) # sum of all ints
df['form_avg_all'] = round(df['form_sum_all'] / df['form_len'], 2) # mean of ints
# df.drop(['form_figures_num', 'form_int_list', 'form_ints_list'], axis = 1, inplace = True)

In [16]:
# aggreagate on last 3 runs ?
df['form_int_list'] = df['form_rec'].apply(lambda x: re.findall(r'\d+', x)) # list of non-sep ints 
df['form_ints_list'] = df['form_int_list'].apply(lambda x: [sum(int(c) for c in str(num)) for num in x]) # sep ints
df['form_sum_rec'] = df['form_ints_list'].apply(lambda x: sum(x)) # sum of all ints
df['form_avg_rec'] = round(df['form_sum_rec'] / df['form_rec_len'], 2) # mean of ints

In [17]:
# if 'average form' has improved
df['form_avg_imp'] = np.where(df['form_avg_rec'] < df['form_avg_all'], 1, 0)

In [18]:
# perhaps add in some rule over form length here? i.e. not inlcude just 1 run?

In [19]:
# dropping temp form vars here
df.drop(['form_figures', 'form_int_list', 'form_ints_list', 'form_rec'], axis = 1, inplace = True)

#### 3.4 Encoding ground status

Assigning "cardinality": higher values for the more water the ground has had.

In [20]:
going_dict = {'Standard': 0, 'Firm': 1, 'Good to Firm': 2, 'Good': 3, 'Good - Yielding': 4, 'Yielding' : 5,
              'Yielding - Soft': 6, 'Good to Soft': 7, 'Soft': 8, 'Soft - Heavy': 9, 'Heavy': 10}
df['going'] = df['going'].map(going_dict)

#### 3.5 Retrieving previous race vars

In [21]:
# prev vars - "leaving this for now..."

#### 3.6 Creating dummy variables

In [22]:
# variable lists
# dummy_vars = ['course', 'race_type', 'gender', 'age', 'trainer_name', 'jockey_name', 'form_last']
# dummy_cols = pd.concat([pd.get_dummies(df[col]) for col in dummy_vars], axis=1)
# dummy_names = dummy_cols.columns

In [23]:
# dropping dummy vars from existing dataframe
# df.drop(dummy_vars, axis = 1, inplace = True)

In [24]:
# df = pd.concat([df, dummy_cols], axis = 1)

#### 3.7 Creating binned variables

Breaking down each continuous variable into bins so analysis is easier to interpret when performing 'groupby aggregations'

In [25]:
bin_vars = ['distance_yards', 'distance_travelled', 'days_since_ran', 'weight_pounds', 'early_traded',
            'inplay_traded', 'total_traded', 'num_runners', 'bsp', 'position_in_betting',
            'final_position', 'form_sum_all', 'form_avg_all']

for bin_var in bin_vars:
    df[bin_var + '_binned'] = pd.qcut(df[bin_var], 5)
    
df.drop(bin_vars, axis=1, inplace=True)

#### 3.8 Text Processing
Parsing the 'in-race comment' in an attempt to gain a greater understanding of the type of events that happen during a race that may influence the price.

- Remove punctuation
- Remove "stopwords"
- Stemming words
- Converting words to Binarizer

In [26]:
def remove_punctuation(text):
    import string
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

df['in_race_comment'] = df['in_race_comment'].apply(remove_punctuation)

stemmer = SnowballStemmer("english")
def stemming(text):    
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text) 
df['in_race_comment'] = df['in_race_comment'].apply(stemming)

In [74]:
from sklearn.preprocessing import Binarizer

freq   = CountVectorizer(min_df = 500, ngram_range = (4,5)) # keeping 3-grams that appear at least 5000 times
corpus = freq.fit_transform(df['in_race_comment'])

onehot = Binarizer()
corpus = onehot.fit_transform(corpus.toarray())

df_nlp = pd.DataFrame(corpus)
df_nlp.columns = freq.get_feature_names()

In [75]:
df_nlp.head()

,12f out kept on,1f out chase leader,1f out everi chanc,1f out everi chanc insid,1f out fade insid,1f out fade insid final,1f out head and,1f out head insid,1f out head insid final,1f out kept on,1f out kept on and,1f out kept on insid,1f out kept on one,1f out kept on same,1f out kept on toward,1f out kept on well,1f out kept on without,1f out never danger,1f out never on,1f out never on term,1f out no extra,1f out no extra final,1f out no extra insid,1f out no impress,1f out no impress final,1f out no impress insid,1f out no impress on,1f out one pace,1f out one pace final,1f out ran on,1f out ran on insid,1f out ridden and,1f out ridden and kept,1f out soon ridden,1f out soon weaken,1f out stay on,1f out stay on insid,1f out stay on same,1f out stay on to,1f out weaken final,1f out weaken final furlong,1f out weaken insid,1f out weaken insid final,1f out went 2nd,2f out and no,2f out and no impress,2f out chase leader,2f out chase leader over,2f out everi chanc,2f out fade insid,2f out fade insid final,2f out head insid,2f out head insid final,2f out head over,2f out head over 1f,2f out headway over,2f out headway over 1f,2f out kept on,2f out kept on final,2f out kept on insid,2f out kept on one,2f out kept on same,2f out lost place,2f out lost place over,2f out never danger,2f out never factor,2f out never on,2f out never on term,2f out no extra,2f out no extra insid,2f out no extra over,2f out no impress,2f out one pace,2f out ridden and,2f out ridden and head,2f out ridden and kept,2f out ridden and no,2f out ridden and weaken,2f out ridden over,2f out ridden over 1f,2f out ridden to,2f out soon beaten,2f out soon lost,2f out soon lost place,2f out soon no,2f out soon no extra,2f out soon no impress,2f out soon ridden,2f out soon ridden and,2f out soon weaken,2f out stay on,2f out stay on same,2f out weaken approach,2f out weaken approach final,2f out weaken final,2f out weaken final furlong,2f out weaken insid,2f out weaken insid final,2f out weaken over,2f out weaken over 1f,2f out went 2nd,2nd insid final furlong,2nd insid final furlong no,2nd over 1f out,2nd over 2f out,3f out chase leader,3f out kept on,3f out no extra,3f out no impress,3f out ridden 2f,3f out ridden 2f out,3f out ridden and,3f out ridden and head,3f out ridden over,3f out ridden over 1f,3f out ridden over 2f,3f out soon ridden,3f out soon weaken,3f out weaken 2f,3f out weaken 2f out,3f out weaken over,3f out weaken over 1f,3f out weaken over 2f,3rd and one pace,3rd halfway push along,3rd insid final furlong,3rd over 1f out,4f out ridden and,4th halfway push along,4th insid final furlong,after out kept on,after out no extra,after out no impress,after out ridden and,after out weaken befor,along 2f out ridden,along 2f out ridden and,along 3f out ridden,along and lost place,along and no impress,along over 2f out,along over 2f out ridden,along over 2f out weaken,along over 3f out,along over 3f out ridden,along over 4f out,alway toward rear never,alway toward rear never factor,alway toward rear ridden,alway toward rear ridden and,and drop to 3rd,and everi chanc insid,and everi chanc insid final,and everi chanc over,and everi chanc over 1f,and head 2f out,and head approach final,and head insid final,and head insid final furlong,and head over 1f,and head over 1f out,and head over 2f,and head over 2f out,and headway 2f out,and headway approach final,and headway approach final furlong,and headway enter final,and headway enter final furlong,and headway over 1f,and headway over 1f out,and headway over 2f,and headway over 2f out,and held toward finish,and kept on insid,and kept on insid final,and kept on one,and kept on one pace,and kept on same,and kept on same pace,and kept on without,and lost place over,and no extra insid,and no extra insid final,and no impress 2f,and no impress 2f out,and no impress after,and no impress after out,and no impress befor,and no impress from,and no impress in,and no impress on,and no impress on winner,and no impress out,and no impress over,and no impress over 1f,and no impress under,and no impress under 2f,and one pace from,and one pace insid,and one pace insid final,and outpac over 2f,and outpac over 2f out,and slight mistak out,and stay on to,and unabl to quicken,and weaken 2f out,and weaken befor out,and weaken insid final,and weaken insid final furlong,and weaken over 1f,and weaken over 1f out,and weaken over 2f,and weaken over 2f out,approach final furlong kept,approach final furlong kept on,approach straight no extra,at last kept on,beaten over 1f out,befor last kept on,befor last kept on one,befor last kept on same,befor last no extra,befor out kept on,befor out kept on same,befor out no extra,befor out no impress,befor out ridden and,befor out soon weaken,befor out tail off,befor out weaken befor,behind headway over 1f,behind headway over 1f out,challeng over 1f out,challeng over 2f out,chanc insid final furlong,chanc over 1f out,chanc over 1f out kept,chanc over 2f out,chase leader 2f out,chase leader 3rd halfway,chase leader 4th halfway,chase leader 5th halfway,chase leader effort over,chase leader effort over 2f,chase leader everi chanc,chase leader in 2nd,chase leader insid final,chase leader insid final furlong,chase leader lost place,chase leader not fluent,...,ridden and no extra,ridden and no impress,ridden and no impress 2f,ridden and no impress befor,ridden and no impress from,ridden and no impress in,ridden and no impress out,ridden and no impress over,ridden and one pace,ridden and ran on,ridden and stay on,ridden and unabl to,ridden and unabl to quicken,ridden and weaken 2f,ridden and weaken 2f out,ridden and weaken befor,ridden and weaken over,ridden and weaken over 1f,ridden and weaken over 2f,ridden insid final 2f,ridden insid final furlong,ridden insid final furlong kept,ridden kept on same,ridden kept on same pace,ridden over 1f out,ridden over 1f out fade,ridden over 1f out head,ridden over 1f out kept,ridden over 1f out never,ridden over 1f out no,ridden over 1f out soon,ridden over 1f out stay,ridden over 1f out weaken,ridden over 2f out,ridden over 2f out kept,ridden over 2f out never,ridden over 2f out no,ridden over 2f out soon,ridden over 2f out weaken,ridden over 3f out,ridden to challeng over,ridden to challeng over 1f,ridden to chase leader,ridden to chase winner,ridden to lead over,ridden to lead over 1f,ridden under 2f out,right insid final furlong,right over 1f out,right over 2f out,room over 1f out,run over 1f out,same pace final furlong,same pace from befor,same pace from over,same pace from over 1f,same pace in 3rd,same pace insid final,same pace insid final furlong,same pace no chanc,same pace no chanc with,same pace no impress,same pace without threaten,slowli away in rear,slowli into stride alway,slowli into stride behind,slowli into stride held,slowli into stride held up,slowli into stride in,slowli into stride in rear,slowli into stride soon,slowli into stride toward,slowli into stride toward rear,some late headway never,soon led ridden and,soon led ridden and head,soon no extra and,soon ridden and no,soon ridden and no impress,soon ridden and weaken,soon ridden kept on,soon ridden no impress,soon weaken tail off,start held up in,start held up in rear,stay on insid final,stay on insid final furlong,stay on same pace,stay on same pace final,stay on same pace insid,stay on to chase,stay on to go,stay on to go 2nd,stay on to take,stay on toward finish,steadi start held up,straight and no impress,straight kept on one,straight kept on one pace,straight kept on same,straight kept on same pace,straight ridden and no,straight ridden and no impress,straight soon no extra,straight soon no impress,stride held up in,switch left over 1f,switch left over 1f out,switch right over 1f,switch right over 1f out,threaten insid final furlong,to challeng over 1f,to challeng over 1f out,to challeng over 2f,to challeng over 2f out,to chase leader over,to chase leader over 2f,to get on term,to lead over 1f,to lead over 1f out,took keen hold held,took keen hold held up,took keen hold track,took keen hold track leader,touch headway over 2f,touch headway over 2f out,touch push along and,touch push along over,touch ridden 2f out,touch ridden and headway,touch ridden and headway over,touch ridden and weaken,touch ridden over 1f,touch ridden over 1f out,touch ridden over 2f,touch ridden over 2f out,toward rear headway befor,toward rear headway befor out,toward rear headway on,toward rear headway on outsid,toward rear headway over,toward rear headway over 1f,toward rear headway over 2f,toward rear never factor,toward rear never on,toward rear never on term,toward rear no impress,toward rear not fluent,toward rear push along,toward rear push along and,toward rear push along over,toward rear ridden 2f,toward rear ridden 2f out,toward rear ridden and,toward rear ridden and headway,toward rear ridden and no,toward rear ridden over,toward rear ridden over 1f,toward rear ridden over 2f,toward rear some headway,track leader 2nd halfway,track leader 3rd halfway,track leader 4th halfway,track leader 5th halfway,track leader driven over,track leader effort over,track leader everi chanc,track leader in 2nd,track leader in 3rd,track leader led over,track leader lost place,track leader not fluent,track leader on insid,track leader on outsid,track leader push along,track leader push along over,track leader ridden 2f,track leader ridden 2f out,track leader ridden and,track leader ridden and everi,track leader ridden and weaken,track leader ridden over,track leader ridden over 1f,track leader ridden over 2f,track leader ridden to,track leader ridden to lead,track leader went 2nd,unabl to quicken over,under 2f out and,under 2f out no,under 2f out no extra,under pressur insid final,under pressur insid final furlong,under pressur over 1f,under pressur over 1f out,under pressur over 2f,under pressur over 2f out,until over 1f out,until over 2f out,up headway over 1f,up headway over 1f out,up in last pair,up in last pair headway,up in middivis headway,up in rear headway,up in rear headway on,up in rear headway over,up in rear not,up in rear ridden,up in touch headway,up in touch ridden,up push along over,up ridden 2f out,up ridden and headway,up ridden and weaken,up ridden over 1f,up ridden over 1f out,up ridden over 2f,up ridden over 2f out,up toward rear headway,up toward rear headway on,up toward rear headway over,up toward rear push,up toward rear push along,up toward rear ridden,up toward rear ridden and,up toward rear ridden over,weaken approach final furlong,weaken insid final 2f,weaken insid final furlong,weaken over 1f out,weaken over 2f out,weaken over 3f out,well insid final furlong,well over 1f out,well over 2f out,went 2nd insid final,went 2nd insid final furlong,went 2nd over 1f,went 2nd over 1f out,went 2nd toward finish,when not clear run,when not fluent out,when not much room,wide in touch ridden,wide track leader ridden,winner insid final furlong,winner over 1f out,without threaten insid final,without threaten insid final furlong
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [77]:
df_nlp['target_1'] = df['target_1']
df_nlp['target_2'] = df['target_2']

#### 3.9 Creating 'combinations'

In [93]:
# to do

#### 4.1 Counts of targets by 'single' vars

In [95]:
# counts

t_names = df['trainer_name'].value_counts().reset_index(name="count").query("count > 750")['index'] # n?
result_df = df.loc[df['trainer_name'].isin(t_names)].copy()

results = result_df.groupby('trainer_name').agg({'runner_id' : 'count', 'target' : 'sum'}).reset_index()

results['%'] = round(results['target'] / results['runner_id'], 4) * 100

results.sort_values('%', ascending = False);

In [96]:
# counts 

j_names = df['jockey_name'].value_counts().reset_index(name="count").query("count > 500")['index'] # 
result_df = df.loc[df['jockey_name'].isin(j_names)].copy()

results = result_df.groupby('jockey_name').agg({'runner_id' : 'count', 'target' : 'sum'}).reset_index()

results['%'] = round(results['target'] / results['runner_id'], 4) * 100

results.sort_values('%', ascending = False);

In [79]:
# counts 
print("Top 20 ngrams with BSP < IPMIN : \n",
      df_nlp.loc[df_nlp['target_1'] == 0].sum().sort_values(ascending = False)[0:20])

print("Top 20 ngrams with BSP > IPMIN : \n",
      df_nlp.loc[df_nlp['target_1'] == 1].sum().sort_values(ascending = False)[0:20])

print("Top 20 ngrams with profitable inplay lay price : \n",
      df_nlp.loc[df_nlp['target_2'] == 0].sum().sort_values(ascending = False)[0:20])

print("Top 20 ngrams with profitable inplay lay price : \n",
      df_nlp.loc[df_nlp['target_2'] == 1].sum().sort_values(ascending = False)[0:20])

Top 20 ngrams with BSP < IPMIN :
 kept on same pace         1894.0
1f out kept on            1500.0
ridden over 1f out        1270.0
kept on one pace          1186.0
over 1f out kept on       1179.0
over 1f out kept          1179.0
held up toward rear       1094.0
out kept on same           948.0
out kept on same pace      946.0
headway over 1f out        883.0
weaken over 1f out         881.0
ridden over 2f out         803.0
held up in rear            751.0
on insid final furlong     691.0
over 2f out weaken         688.0
out kept on one            661.0
out kept on one pace       661.0
ridden and no impress      616.0
2f out kept on             615.0
over 1f out no             602.0
dtype: float64
Top 20 ngrams with BSP > IPMIN :
 target_1                  195128.0
target_2                  176238.0
kept on same pace          15152.0
1f out kept on             11842.0
ridden over 1f out         10201.0
over 1f out kept            9336.0
over 1f out kept on         9327.0
kept on one pace            8987.0
held up toward rear         8710.0
out kept on same            7661.0
out kept on same pace       7644.0
weaken over 1f out          6706.0
headway over 1f out         6549.0
ridden over 2f out          6402.0
held up in rear             5815.0
on insid final furlong      5610.0
2f out kept on              5056.0
over 2f out weaken          5017.0
out kept on one             4968.0
out kept on one pace        4961.0
dtype: float64
Top 20 ngrams with profitable inplay lay price :
 target_1                  18890.0
kept on same pace          3404.0
1f out kept on             2669.0
ridden over 1f out         2259.0
over 1f out kept           2078.0
over 1f out kept on        2077.0
kept on one pace           2071.0
held up toward rear        1954.0
out kept on same           1680.0
out kept on same pace      1675.0
headway over 1f out        1511.0
weaken over 1f out         1494.0
ridden over 2f out         1381.0
held up in rear            1298.0
on insid final furlong     1216.0
out kept on one            1166.0
out kept on one pace       1165.0
over 2f out weaken         1153.0
over 1f out no             1097.0
ridden and no impress      1095.0
dtype: float64
Top 20 ngrams with profitable inplay lay price :
 target_2                  176238.0
target_1                  176238.0
kept on same pace          13642.0
1f out kept on             10673.0
ridden over 1f out          9212.0
over 1f out kept            8437.0
over 1f out kept on         8429.0
kept on one pace            8102.0
held up toward rear         7850.0
out kept on same            6929.0
out kept on same pace       6915.0
weaken over 1f out          6093.0
headway over 1f out         5921.0
ridden over 2f out          5824.0
held up in rear             5268.0
on insid final furlong      5085.0
2f out kept on              4606.0
over 2f out weaken          4552.0
out kept on one             4463.0
out kept on one pace        4457.0
dtype: float64

In [84]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [88]:
from IPython.display import display

vars_to_exclude = ['runner_id', 'trainer_name', 'jockey_name', 'inplay_min', 'target_1', 'in_race_comment',
                   'owner_name', 'target_2']
var_list = [x for x in df.columns.to_list() if x not in vars_to_exclude]
for var in var_list:
    results = df.groupby(var).agg({'runner_id' : 'count', 'target_1' : 'sum', 'target_2' : 'sum'}).reset_index()

    results['t2_%'] = round(results['target_2'] / results['runner_id'], 4) * 100

    display(pd.DataFrame(results.sort_values('t2_%', ascending = False)))

             course  runner_id  target_1  target_2   t2_%
13       Cheltenham       2688      2581      2378  88.47
0           Aintree       1313      1253      1149  87.51
77        Uttoxeter       3300      3113      2846  86.24
28         Fontwell       2352      2233      2026  86.14
37            Kelso       1627      1524      1399  85.99
84        Worcester       2495      2342      2144  85.93
78          Warwick       2283      2129      1961  85.90
36       Huntingdon       2276      2124      1943  85.37
64      Royal_Ascot       1305      1225      1112  85.21
35           Hexham       1782      1643      1515  85.02
57            Perth       1496      1409      1271  84.96
75        Towcester        735       678       624  84.90
1             Ascot       3559      3334      3021  84.88
55     Newton_Abbot       1884      1760      1599  84.87
67       Sedgefield       2006      1862      1702  84.85
24           Exeter       2172      2004      1841  84.76
34         Hereford       1307      1205      1106  84.62
48     Market_Rasen       2540      2368      2143  84.37
10          Cartmel       1005       932       847  84.28
66          Sandown       3276      3033      2754  84.07
52          Newbury       4579      4178      3844  83.95
26         Fakenham       1006       941       843  83.80
71          Taunton       1957      1806      1638  83.70
79         Wetherby       2556      2331      2138  83.65
33          Haydock       4150      3816      3467  83.54
81        Wincanton       1951      1796      1628  83.44
27         Ffos_Las       2543      2336      2117  83.25
80          Wexford       1875      1708      1561  83.25
70        Stratford       1956      1815      1628  83.23
30         Goodwood       2958      2702      2452  82.89
39        Kilbeggan       1276      1144      1057  82.84
42        Leicester       3770      3404      3110  82.49
47           Ludlow       1962      1799      1617  82.42
58         Plumpton       1743      1599      1436  82.39
9          Carlisle       3653      3274      3002  82.18
19        Doncaster       5392      4883      4415  81.88
85         Yarmouth       3369      3012      2754  81.75
60      Punchestown       3566      3166      2906  81.49
54        Newmarket       6045      5448      4925  81.47
4            Bangor       1734      1539      1411  81.37
2               Ayr       4554      4075      3700  81.25
14         Chepstow       4867      4346      3954  81.24
41          Laytown        117       100        95  81.20
44         Limerick       3670      3253      2972  80.98
3        Ballinrobe       1633      1443      1321  80.89
21      Downpatrick       1483      1336      1197  80.71
76          Tramore       1928      1697      1550  80.39
16          Clonmel       2302      2036      1849  80.32
63        Roscommon       1678      1478      1344  80.10
53        Newcastle      11396     10120      9117  80.00
25       Fairyhouse       4195      3658      3348  79.81
43     Leopardstown       4362      3858      3481  79.80
65        Salisbury       2135      1869      1703  79.77
86             York       3836      3419      3059  79.74
29           Galway       2941      2574      2337  79.46
56       Nottingham       3883      3376      3079  79.29
23      Epsom_Downs       1406      1239      1113  79.16
73          Thurles       2134      1829      1683  78.87
68            Sligo       1078       936       850  78.85
20       Down_Royal       2109      1835      1661  78.76
5              Bath       2829      2481      2222  78.54
45        Lingfield      12402     10796      9736  78.50
38          Kempton      14069     12185     11040  78.47
49      Musselburgh       3776      3304      2959  78.36
61           Redcar       3545      3060      2774  78.25
40        Killarney       1891      1655      1478  78.16
8          Brighton       3080      2721      2403  78.02
32         Hamilton       2311      2015      1802  77.97
82          Windsor       4003      3470      3118  77.89
69        Southwell       8475      7307      6570  77.52
11        Catterick       4005      3464      3093  77.23
59       Pontefract       2422      2089      1870  77.21
46         Listowel       1725      1492      1328  76.99
17             Cork       3863      3286      2960  76.62
15          Chester       2305      1939      1758  76.27
51            Navan       4127      3463      3145  76.21
7          Beverley       3064      2623      2332  76.11
83    Wolverhampton      15303     13013     11644  76.09
62            Ripon       2333      2018      1769  75.83
74        Tipperary       2240      1890      1694  75.62
72           Thirsk       3151      2638      2367  75.12
18          Curragh       3786      3167      2844  75.12
31      Gowran_Park       3791      3157      2834  74.76
22          Dundalk       9758      8089      7292  74.73
6       Bellewstown       1171       978       875  74.72
50             Naas       3879      3228      2898  74.71
12  Chelmsford_City      10787      9068      7983  74.01

            race_type  runner_id  target_1  target_2   t2_%
4  National Hunt Flat       7735      7250      6656  86.05
1               Chase      31271     29229     26737  85.50
3              Hurdle      68607     62381     56859  82.88
2                Flat     113420     98394     88531  78.06
0    All Weather Flat      74207     63268     56748  76.47

    going  runner_id  target_1  target_2   t2_%
10   10.0      16337     14756     13457  82.37
7     7.0      30287     27361     24835  82.00
8     8.0      41651     37389     34022  81.68
3     3.0      74382     66654     60404  81.21
4     4.0       3766      3276      3000  79.66
1     1.0       1567      1390      1248  79.64
9     9.0       2746      2414      2177  79.28
2     2.0      38845     34161     30738  79.13
5     5.0       9619      8304      7512  78.10
0     0.0      74216     63304     56778  76.50
6     6.0       1751      1448      1306  74.59

   handicap  runner_id  target_1  target_2   t2_%
0         0      91294     80253     73004  79.97
1         1     203946    180269    162527  79.69

   maiden  runner_id  target_1  target_2   t2_%
0       0     264180    234001    211265  79.97
1       1      31060     26521     24266  78.13

  gender  runner_id  target_1  target_2   t2_%
4      M      28995     25825     23560  81.26
3      H       1002       894       805  80.34
2      G     185114    164429    148642  80.30
1      F      58015     50051     45284  78.06
0      C      22075     19288     17212  77.97
5      R         39        35        28  71.79

    age  runner_id  target_1  target_2   t2_%
13   15         18        16        16  88.89
14   16         15        15        13  86.67
11   13        643       595       551  85.69
9    11       3969      3673      3395  85.54
10   12       1848      1711      1578  85.39
12   14        165       153       140  84.85
8    10       8147      7489      6883  84.49
7     9      13477     12385     11346  84.19
6     8      19165     17446     15927  83.10
5     7      26805     24158     21805  81.35
4     6      37197     33140     29957  80.54
3     5      46652     41311     37345  80.05
2     4      50564     44011     39562  78.24
1     3      61312     53023     47712  77.82
0     2      25263     21396     19301  76.40

   headgear  runner_id  target_1  target_2   t2_%
3       3.0        146       129       120  82.19
2       2.0      17322     15476     14020  80.94
1       1.0      96594     85114     77036  79.75
0       0.0     181178    159803    144355  79.68

   form_last  runner_id  target_1  target_2   t2_%
1          /       2186      1985      1816  83.07
2          1      26118     23986     21453  82.14
3          2      26702     24376     21859  81.86
4          3      27341     24595     22178  81.12
0          -      38210     34076     30857  80.76
5          4      26980     24040     21653  80.26
6          5      25445     22314     20191  79.35
7          6      22871     19870     18036  78.86
8          7      19828     17144     15522  78.28
9          8      16465     14147     12855  78.07
10         9      63094     53989     49111  77.84

    form_len  runner_id  target_1  target_2   t2_%
11        12        403       377       347  86.10
10        11      39969     36476     33193  83.05
5          6      13513     11968     10857  80.34
7          8      11473     10183      9183  80.04
4          5      14623     12878     11639  79.59
8          9      10429      9245      8297  79.56
0          1      14924     13036     11856  79.44
9         10     127332    112156    101081  79.38
6          7      12292     10867      9747  79.30
3          4      15820     13838     12507  79.06
2          3      16383     14114     12759  77.88
1          2      18079     15384     14065  77.80

   form_rec_len  runner_id  target_1  target_2   t2_%
2             3     262237    232102    209610  79.93
0             1      14924     13036     11856  79.44
1             2      18079     15384     14065  77.80

    form_sum_rec  runner_id  target_1  target_2   t2_%
1              2       3907      3622      3247  83.11
2              3       6503      6014      5377  82.68
3              4       8882      8194      7331  82.54
4              5      10801      9800      8871  82.13
0              1       1933      1778      1586  82.05
5              6      12414     11271     10166  81.89
9             10      16523     14904     13463  81.48
7              8      14158     12700     11501  81.23
6              7      13382     12121     10861  81.16
10            11      16716     14987     13539  80.99
11            12      17183     15326     13842  80.56
8              9      16698     14738     13402  80.26
12            13      17623     15614     14118  80.11
13            14      16900     14895     13492  79.83
15            16      14841     12854     11694  78.80
14            15      16032     13976     12602  78.61
19            20       7548      6525      5920  78.43
18            19       8422      7282      6599  78.35
16            17      13619     11803     10657  78.25
22            23       5200      4465      4061  78.10
20            21       6826      5880      5312  77.82
23            24       4279      3646      3322  77.63
26            27      12525     10685      9708  77.51
17            18      20235     17201     15612  77.15
21            22       5911      5083      4551  76.99
25            26       2613      2193      2004  76.69
24            25       3566      2965      2693  75.52

    form_avg_rec  runner_id  target_1  target_2   t2_%
0           0.33        141       133       121  85.82
2           0.67       2074      1957      1753  84.52
4           1.33       6184      5779      5174  83.67
1           0.50        522       476       436  83.52
6           1.67       7938      7303      6602  83.17
3           1.00       6004      5592      4980  82.94
5           1.50        732       675       606  82.79
8           2.33      10564      9700      8660  81.98
7           2.00      11641     10651      9542  81.97
10          2.67      11491     10377      9374  81.58
12          3.33      15572     14061     12698  81.54
14          3.67      15779     14177     12788  81.04
11          3.00      15605     13960     12627  80.92
15          4.00      19074     17019     15343  80.44
16          4.33      16572     14719     13284  80.16
21          5.50        937       810       751  80.15
18          4.67      15812     13984     12651  80.01
9           2.50        915       816       731  79.89
25          6.50       1051       895       834  79.35
20          5.33      13946     12149     11035  79.13
19          5.00      17923     15673     14152  78.96
17          4.50       1966      1668      1549  78.79
22          5.67      12866     11214     10105  78.54
23          6.00      21539     18594     16908  78.50
26          6.67       7548      6525      5920  78.43
24          6.33       8422      7282      6599  78.35
13          3.50       1003       881       784  78.17
30          7.67       5200      4465      4061  78.10
27          7.00       9729      8331      7570  77.81
31          8.00       6727      5690      5218  77.57
28          7.33       5911      5083      4551  76.99
34          8.67       2613      2193      2004  76.69
35          9.00      15912     13309     12122  76.18
32          8.33       3566      2965      2693  75.52
29          7.50       1008       827       753  74.70
33          8.50        753       589       552  73.31

   form_avg_imp  runner_id  target_1  target_2   t2_%
1             1     124191    110956    100181  80.67
0             0     171049    149566    135350  79.13

  distance_yards_binned  runner_id  target_1  target_2   t2_%
4      (4180.0, 7480.0]      55362     51699     47526  85.85
3      (3080.0, 4180.0]      58308     52776     47848  82.06
2      (1760.0, 3080.0]      57815     51543     46660  80.71
1      (1540.0, 1760.0]      33725     29162     26186  77.65
0    (1099.999, 1540.0]      90030     75342     67311  74.77

  distance_travelled_binned  runner_id  target_1  target_2   t2_%
4            (138.0, 511.0]      58844     52354     47188  80.19
3             (96.0, 138.0]      58412     51764     46795  80.11
2              (67.0, 96.0]      59110     52026     47038  79.58
0            (-1.001, 40.0]      60383     52969     48014  79.52
1              (40.0, 67.0]      58491     51409     46496  79.49

  days_since_ran_binned  runner_id  target_1  target_2   t2_%
4        (57.0, 2216.0]      58842     52200     47385  80.53
2          (20.0, 29.0]      58603     52104     47080  80.34
3          (29.0, 57.0]      58188     51651     46662  80.19
1          (14.0, 20.0]      49571     43660     39459  79.60
0         (0.999, 14.0]      70036     60907     54945  78.45

  weight_pounds_binned  runner_id  target_1  target_2   t2_%
4       (156.0, 184.0]      56070     51715     47177  84.14
3       (138.0, 156.0]      60090     54571     49781  82.84
2       (131.0, 138.0]      46498     40414     36148  77.74
0     (111.999, 126.0]      69745     59745     53892  77.27
1       (126.0, 131.0]      62837     54077     48533  77.24

   early_traded_binned  runner_id  target_1  target_2   t2_%
4  (1679.0, 1267023.0]      59032     54438     48373  81.94
3      (590.0, 1679.0]      59018     53020     47674  80.78
2       (206.0, 590.0]      58841     51796     46787  79.51
1        (46.0, 206.0]      58946     51312     46736  79.29
0       (-0.001, 46.0]      59403     49956     45961  77.37

  inplay_traded_binned  runner_id  target_1  target_2   t2_%
4  (12049.0, 534631.0]      59045     58016     55129  93.37
3    (4243.0, 12049.0]      59044     56328     51900  87.90
2     (1643.0, 4243.0]      59054     53681     48147  81.53
1      (526.0, 1643.0]      59009     49638     43632  73.94
0      (-0.001, 526.0]      59088     42859     36723  62.15

    total_traded_binned  runner_id  target_1  target_2   t2_%
4  (60586.4, 5275778.0]      59048     54792     48383  81.94
3    (25146.0, 60586.4]      59046     53201     47685  80.76
2    (11302.6, 25146.0]      59050     51630     46754  79.18
1     (4160.0, 11302.6]      59041     51146     46533  78.81
0      (-0.001, 4160.0]      59055     49753     46176  78.19

  num_runners_binned  runner_id  target_1  target_2   t2_%
0       (1.999, 8.0]      82498     75374     67982  82.40
1        (8.0, 10.0]      58992     52487     47497  80.51
2       (10.0, 12.0]      56882     49610     44823  78.80
4       (14.0, 40.0]      46094     39542     35913  77.91
3       (12.0, 14.0]      50774     43509     39316  77.43

       bsp_binned  runner_id  target_1  target_2   t2_%
4  (50.0, 1001.0]      58608     51727     48133  82.13
0   (-0.001, 6.6]      60063     55056     48506  80.76
1     (6.6, 11.5]      58329     51836     46274  79.33
3    (21.0, 50.0]      58841     50844     46300  78.69
2    (11.5, 21.0]      59399     51059     46318  77.98

  position_in_betting_binned  runner_id  target_1  target_2   t2_%
0               (0.999, 3.0]      88609     81040     71786  81.01
2                 (4.0, 6.0]      59361     52086     47453  79.94
1                 (3.0, 4.0]      32214     28623     25722  79.85
3                 (6.0, 9.0]      65410     56660     51845  79.26
4                (9.0, 40.0]      49646     42113     38725  78.00

  final_position_binned  runner_id  target_1  target_2   t2_%
0          (1.999, 3.0]      76318     73585     70253  92.05
1            (3.0, 5.0]      70850     64188     57895  81.71
2            (5.0, 6.0]      30592     26568     23532  76.92
3            (6.0, 9.0]      66806     55854     48746  72.97
4           (9.0, 98.0]      50674     40327     35105  69.28

  form_sum_all_binned  runner_id  target_1  target_2   t2_%
2        (32.0, 43.0]      61981     55190     49858  80.44
1        (18.0, 32.0]      55609     49474     44592  80.19
0       (0.999, 18.0]      64290     56566     51267  79.74
3        (43.0, 54.0]      57952     50996     45992  79.36
4        (54.0, 87.0]      55408     48296     43822  79.09

  form_avg_all_binned  runner_id  target_1  target_2   t2_%
0       (0.499, 3.36]      59359     54456     48931  82.43
1        (3.36, 4.22]      59001     52961     47796  81.01
2         (4.22, 5.0]      61513     54263     49002  79.66
3         (5.0, 6.09]      56625     49041     44510  78.60
4         (6.09, 9.0]      58742     49801     45292  77.10

In [69]:
# to do

# apply nlp after filtering data fraes by target
# remove date constraints

In [70]:
# combo fav but with high bsp price?
#combo - weights / handicap
# trainer x jockey
# trainer x jockey x bsp