### Finding time intervals by distance for API data

- The duration of a race is unknown (yet somewhat predictable by distance). 
- For inplay strategies it may be important to act at some given time point during a race. 
- This strategy will be generalised to races with varying race times. 
- Therefore a sensible/consistent approach to dividing races has been applied to find divide races into 'equal thirds'.

In [1]:
# packages
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
import re 
import json
from pathlib import Path, PurePath
import pprint as pp

# configs
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

In [2]:
# loading in sql login credentials

project_dir = Path.cwd().parents[1]
logins_dir = project_dir / 'sql_logins.json'

with open(logins_dir) as f:
    login_dict =  json.load(f)

In [10]:
db_connection_str = f"mysql+pymysql://{login_dict['UID']}:{login_dict['PWD']}@localhost/{login_dict['DB']}"
db_connection = create_engine(db_connection_str)

data = pd.read_sql('''
                 SELECT
                  race_id,
                  distance_yards,
                  race_type,
                  winning_time_secs
                 FROM
                  historic_races
                 ORDER BY
                  race_id
                ''',
                con=db_connection)
# db_connection.close()

In [67]:
df = data.copy() # temp : to save having to run query (remove to save memory)
print("Races :", len(df.index))

Races : 204787

In [68]:
df.head()

   race_id  distance_yards race_type  winning_time_secs
0       -1          1320.0      Flat                0.0
1    11426          3520.0    Hurdle              272.7
2    11427          4400.0    Hurdle              342.5
3    11428          3520.0    Hurdle              295.3
4    11429          4400.0     Chase              326.1

In [69]:
df = df.loc[(df['winning_time_secs'] > 1) & (df['winning_time_secs'] < 1200)]

In [72]:
df['distance_furlongs'] = round(df['distance_yards'] / 220).astype(int)

In [73]:
df = df.loc[df['race_type'] != 'Point to Point']

In [74]:
df['race_type'].value_counts()

Flat                  79065
Hurdle                44795
All Weather Flat      40191
Chase                 30978
National Hunt Flat     8055
Name: race_type, dtype: int64

In [75]:
race_type_dict = {'National Hunt Flat': 'NHF',
                  'Flat' : 'Flat',
                  'All Weather Flat': 'Flat',
                  'Chase' : 'Chase',
                  'Hurdle' : 'Hurdle'}
df['race_type'] = df['race_type'].map(race_type_dict)

In [76]:
df['race_type'].value_counts()

Flat      119256
Hurdle     44795
Chase      30978
NHF         8055
Name: race_type, dtype: int64

To find a consistent approach to splitting race times was done via the 5th quantile.

__Why do it this way?__

To ensure bins are races that are too short wont fill t_3, therfore the cut-offs were chosen by:

- (q5 or race_times by distance) = t_3

- ((q5 or race_times by distance) / 3) * 2 = t_1

- (q5 or race_times by distance) / 3 = t_1

The race times can then be categorised in future by looking up distance and applying the given number of seconds to create t_1, t_2 & t_3. 

__NOTE:__

- t_1 = times < t_1 secs
- t_2 = t_1 <= times <= t_2
- t_3 = time >= t_3

In [77]:
# df['distance_furlong']
df_times = df.groupby(['distance_furlongs','race_type'])['winning_time_secs'].quantile(0.05).reset_index()
df_times.rename(columns = {'winning_time_secs' : 't_3'}, inplace = True)
df_times['t_3'] = round(df_times['t_3'])
df_times['t_1'] = round(df_times['t_3'] / 3)
df_times['t_2'] = round(df_times['t_3'] / 3) * 2
df_times = df_times[['distance_furlongs', 'race_type', 't_1', 't_2', 't_3']] # rearrange colums

In [78]:
df_times

    distance_furlongs race_type    t_1    t_2    t_3
0                   5      Flat   19.0   38.0   58.0
1                   6     Chase   98.0  196.0  293.0
2                   6      Flat   23.0   46.0   70.0
3                   6    Hurdle   93.0  186.0  279.0
4                   7      Flat   28.0   56.0   83.0
5                   7    Hurdle   98.0  196.0  295.0
6                   8     Chase   96.0  192.0  287.0
7                   8      Flat   32.0   64.0   96.0
8                   8    Hurdle   75.0  150.0  224.0
9                   8       NHF   73.0  146.0  219.0
10                  9      Flat   36.0   72.0  108.0
11                 10      Flat   41.0   82.0  124.0
12                 11      Flat   45.0   90.0  134.0
13                 12      Flat   50.0  100.0  150.0
14                 12       NHF   57.0  114.0  170.0
15                 13      Flat   54.0  108.0  163.0
16                 13       NHF   58.0  116.0  174.0
17                 14      Flat   59.0  118.0  178.0
18                 14       NHF   64.0  128.0  191.0
19                 15     Chase   75.0  150.0  225.0
20                 15      Flat   61.0  122.0  184.0
21                 15    Hurdle   69.0  138.0  208.0
22                 15       NHF   70.0  140.0  211.0
23                 16     Chase   77.0  154.0  231.0
24                 16      Flat   68.0  136.0  204.0
25                 16    Hurdle   74.0  148.0  222.0
26                 16       NHF   73.0  146.0  218.0
27                 17     Chase   81.0  162.0  243.0
28                 17      Flat   72.0  144.0  217.0
29                 17    Hurdle   78.0  156.0  234.0
30                 17       NHF   77.0  154.0  231.0
31                 18     Chase   83.0  166.0  248.0
32                 18      Flat   76.0  152.0  229.0
33                 18    Hurdle   83.0  166.0  248.0
34                 18       NHF   82.0  164.0  245.0
35                 19     Chase   92.0  184.0  275.0
36                 19      Flat   80.0  160.0  239.0
37                 19    Hurdle   88.0  176.0  264.0
38                 19       NHF   85.0  170.0  256.0
39                 20     Chase   97.0  194.0  291.0
40                 20      Flat   86.0  172.0  258.0
41                 20    Hurdle   94.0  188.0  281.0
42                 20       NHF   92.0  184.0  275.0
43                 21     Chase  102.0  204.0  306.0
44                 21      Flat   89.0  178.0  267.0
45                 21    Hurdle   99.0  198.0  298.0
46                 21       NHF   99.0  198.0  296.0
47                 22     Chase  104.0  208.0  313.0
48                 22      Flat   96.0  192.0  287.0
49                 22    Hurdle  102.0  204.0  307.0
50                 23     Chase  110.0  220.0  330.0
51                 23    Hurdle  111.0  222.0  333.0
52                 24     Chase  118.0  236.0  353.0
53                 24    Hurdle  114.0  228.0  341.0
54                 25     Chase  123.0  246.0  370.0
55                 25    Hurdle  119.0  238.0  358.0
56                 26     Chase  128.0  256.0  383.0
57                 26    Hurdle  122.0  244.0  365.0
58                 27     Chase  134.0  268.0  402.0
59                 27    Hurdle  128.0  256.0  384.0
60                 28     Chase  137.0  274.0  411.0
61                 28    Hurdle  132.0  264.0  395.0
62                 29     Chase  146.0  292.0  437.0
63                 30     Chase  146.0  292.0  438.0
64                 31     Chase  154.0  308.0  461.0
65                 32     Chase  161.0  322.0  484.0
66                 33     Chase  169.0  338.0  506.0
67                 34     Chase  174.0  348.0  522.0
68                 35     Chase  194.0  388.0  582.0
69                 36     Chase  180.0  360.0  540.0

In [98]:
df_times.to_csv('inplay_bins.csv')

In [93]:
# mydict = df_times.set_index(['distance_furlongs', 'race_type']).to_dict('index')

In [95]:
# pp.pprint(mydict)

In [96]:
# import json
# with open('result.json', 'w') as fp:
#     json.dump(d, fp)